img#sadFaceImg{
    display: block;
    margin: 0 auto;
    height: 300px;

}

.sadface {
    margin: 20px;
    padding: 20px;
    background-color: #bbb6b6;
}

.notFaound {
    margin: 0px 10px 20px 10px;
     background-image: url("./brokingPic.jpg");
}